<%= render 'welcome' %>
<div class="clearfix">
	<div id="search" class="clearfix">
	<%= search_form_for @q, :url => root_url do |f| %>
	
	  <%= f.label :reply_comment_cont, 'Contains Text: ' %>
	  <%= f.text_field :reply_comment_cont %>

	  <%= f.label :title_cont, 'Title: ' %>
	  <%= f.text_field :title_cont %>

	  <%= f.label :creator_cont, 'Created By: ' %>
	  <%= f.text_field :creator_cont %>

	  <%= f.submit "Filter" %>
	<% end %>
  </div>
</div>
<%= render 'topics' %>

	<tr id="newTopic">
	 <td colspan="6">
	   <%= form_for @topic do |t| %>
	   <%= t.label :title, "New Topic: " %>
	   <%= t.text_field :title %>
	   <%= t.submit "Create!" %>
	   <% end %>
	 </td>
	</tr>
</table>

</div>