<div class="clearfix" id="welcomeContent">
	<div id="gravatarContainer">
    <img src="http://www.gravatar.com/avatar/<%= @gravatar %>?s=70&d=mm" class="homepage_gravatar" />
  </div>
  <div id="welcomeMessage">
    <h1>Messageboard Home</h1>
    <h2>Welcome, <%= @user.username %>!</h2>
  </div>
</div>

<p class="homepage_content">Welcome to BME. If you don't have an avatar image, head over to <%= link_to 'gravatar.com', 'http://www.gravatar.com' %> and signup. I'm still building this thing from scratch, on my own, so if there's a problem either <%= link_to 'email me', 'mailto:bryanmytko@gmail.com' %> or shut up. Known issues & missing features include: no link parsing, no image uploading, no topic creation, no post editing, incomplete user pages, as well as a bunch of other things. Chicken chicken, chicken chicken. Chicken. Chicken chicken Chicken chicken, chicken chicken. Chicken. Chicken chicken.
	<br /><br />The only rules are: No child porn, bestiality, or spam. Anything deemed inappropriate will be removed and you may be banned.</p>

<div id="topics">
	<table cellpadding="0" cellmargin="0">
		<tr>
			<th class="title">
				Topic
			</th>
			<th>
				Replies
			</th>
			<th>
				Last Reply By?
			</th>
			<th>
				Views
			</th>
			<th>
				Last Post
			</th>
		</tr>
	<% @topics.each do |t| %>
	<tr>
		<td class="title">
	    <%= link_to t.title.capitalize, topic_path(t.slug) %>
	  </td>
	  <td>
		  <p><%= rand(3..17) %></p>
		</td>
		<td>
			<p><%= unless (t.last_author).nil?
				  link_to t.last_author, user_path(t.last_author)
				else
				  '-'
				end
			%></p>
		</td>
		<td>
			<p><%= t.view_count.to_s %></p>
		</td>
	  <td>
		  <p><%= t.updated_at.to_formatted_s(:long_ordinal) %></p>
	  </td>
	</tr>
	<% end %>
  </table>
</div>