<div class="clearfix" id="welcomeContent">
	<div id="gravatarContainer">
    <img src="http://www.gravatar.com/avatar/<%= @gravatar %>?s=70&d=mm" class="homepage_gravatar" />
  </div>
  <div id="welcomeMessage">
    <h1>Messageboard Home</h1>
    <h2>Welcome, <%= @user.username %>!</h2>
  </div>
</div>

<p class="homepage_content">This is the main dashboard. You should only be seeing this page if you are logged in.<strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est.</p>

<div id="topics">
	<table cellpadding="0" cellmargin="0">
		<tr>
			<th class="title">
				Title
			</th>
			<th>
				Posts
			</th>
			<th>
				Last Post
			</th>
		</tr>
	<% @topics.each do |t| %>
	<tr>
		<td class="title">
	    <%= link_to t.title.capitalize, '#' %>
	  </td>
	  <td>
		  <%= rand(3..17) %>
		</td>
	  <td>
		  <%= t.updated_at.to_formatted_s(:long_ordinal) %>
	  </td>
	</tr>
	<% end %>
  </table>
</div>

