<!--
                                                                                                 
                                                                                                 

										 _   _   _____   _   _     
										| | | | |  ___) | | | |    
										| |_| | | |_    | |_| |    
										|  _  | |  _)   |  _  |    
										| | | | | |___  | | | |  _ 
										|_| |_| |_____) |_| |_| (_)

















































-->
<!DOCTYPE html>
<html>
<head>
  <title><%= t('titles').sample %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex, nofollow" />
	<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
	<%= render 'layouts/analytics' %>
</head>
<body>
<div id="header">
	<div id="headerContent" class="clearfix">
  <%= link_to "bestmessageboardever.", root_url, id: 'logo' %>
	<% if current_user %>
	<p>Logged in as <strong><span id="logged_in_name"><%= current_user.username %></span></strong><em> | </em>
	<%= link_to "Log Out", logout_path %><em> | </em>
	<% mentions = mention_count %>
	<% unless mentions == 0 %>
		<%= link_to "Notifications (" + mentions.to_s + ")",notification_path(5), :class => 'has_mentions' %>
  <% else %>
    <strong>Notifications (0)</strong>
  <% end %>
  </p>
  <% else %>
  <p>
	<%= link_to "Log In", login_path %> <em> | </em>
  <%= link_to "Sign Up?", signup_path %>
  </p>
  <% end %>
   </div>
</div>
<div id="mainContainer">
	<div id="mainContent" class="clearfix">
	<% flash.each do |k,v| =%>
	<div id="flashContainer">
	  <div class="<%= k %>">
	    <p><%= v %></p>
	  </div>
	</div>
	<% end %>
  <%= yield %>
  </div>
</div>
<footer>
	<div id="footer_content">
		<%= link_to "bestmessageboardever.", root_url, id: 'logo', :class => 'footer_logo' %>
		<p>&copy; 2013 Bryan Mytko | Whatever Else Goes Here | Hi.</p>
	</div>
</footer>
</body>
</html>