<!--
                                                                                                 
                                                                                                 
                ___                                                                              
                `MM                                                                              
                 MM                                                                              
____    _    ___ MM  __     ____  ___  __   ____                                                 
`MM(   ,M.   )M' MM 6MMb   6MMMMb `MM 6MM  6MMMMb                                                
 `Mb   dMb   d'  MMM9 `Mb 6M'  `Mb MM69 " 6M'  `Mb                                               
  YM. ,PYM. ,P   MM'   MM MM    MM MM'    MM    MM                                               
  `Mb d'`Mb d'   MM    MM MMMMMMMM MM     MMMMMMMM                                               
   YM,P  YM,P    MM    MM MM       MM     MM                                                     
   `MM'  `MM'    MM    MM YM    d9 MM     YM    d9                                               
    YP    YP    _MM_  _MM_ YMMMM9 _MM_     YMMMM9                                                
                                                                                                 
                                                                                                 
                                                                                                 
                                                                                                 
                                                                                                 
                                    ___                      ___                                 
                                    `MM         68b          `MM      68b                 6MMMb  
                                     MM         Y89           MM      Y89                6M' `Mb 
____    _    ___  ____           ____MM ___  __ ___ ___  __   MM   __ ___ ___  __     __ `'   MM 
`MM(   ,M.   )M' 6MMMMb         6MMMMMM `MM 6MM `MM `MM 6MMb  MM   d' `MM `MM 6MMb   6MMbMMM  MM 
 `Mb   dMb   d' 6M'  `Mb       6M'  `MM  MM69 "  MM  MMM9 `Mb MM  d'   MM  MMM9 `Mb 6M'`Mb   ,M9 
  YM. ,PYM. ,P  MM    MM       MM    MM  MM'     MM  MM'   MM MM d'    MM  MM'   MM MM  MM  MM9  
  `Mb d'`Mb d'  MMMMMMMM       MM    MM  MM      MM  MM    MM MMdM.    MM  MM    MM YM.,M9  M    
   YM,P  YM,P   MM             MM    MM  MM      MM  MM    MM MMPYM.   MM  MM    MM  YMM9        
   `MM'  `MM'   YM    d9       YM.  ,MM  MM      MM  MM    MM MM  YM.  MM  MM    MM (M     68b   
    YP    YP     YMMMM9         YMMMMMM__MM_    _MM__MM_  _MM_MM_  YM._MM__MM_  _MM_ YMMMMbY89   
                                                                                    6M    Yb     
                                                                                    YM.   d9     
                                                                                     YMMMM9















































-->
<!DOCTYPE html>
<html>
<head>
  <title><%= t('titles').sample %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35805006-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
</head>
<body>
	
<div id="header">
	<div id="headerContent" class="clearfix">
  <%= link_to "bestmessageboardever.", root_url, id: 'logo' %>
	<% if current_user %>
	<p>Logged in as <strong><%= current_user.username %></strong><em> | </em>
	<%= link_to "Log Out", logout_path %><em> | </em>
	<% mentions = mention_count %>
	<% unless mentions == 0 %>
		<%= link_to "Notifications (" + mentions.to_s + ")",notification_path(5), :class => 'has_mentions' %>
  <% else %>
    <strong>Notifications (0)</strong>
  <% end %>
  </p>
  <% else %>
  <p>
	<%= link_to "Log In", login_path %> <em> | </em>
  <%= link_to "Sign Up?", signup_path %>
  </p>
  <% end %>
   </div>
</div>
	
<div id="mainContainer">
	<div id="mainContent" class="clearfix">
	<% flash.each do |k,v| =%>
	<div id="flashContainer">
	  <div class="<%= k %>">
	    <p><%= v %></p>
	  </div>
	</div>
	<% end %>
  <%= yield %>
  </div>
</div>
<footer>
	<div id="footer_content">
		<p>&copy; 2012 Bryan Mytko | Whatever Else Goes Here | Where we drinkin?</p>
	</div>
</footer>

</body>
</html>
