<!DOCTYPE html>
<html>
<head>
  <title><%= t('titles').sample %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35805006-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	
<div id="header">
	<div id="headerContent" class="clearfix">
  <%= link_to "", root_url, id: 'logo' %>
	<% if current_user %>
	<p>Logged in as <strong><%= current_user.username %></strong><em> | </em>
	<%= link_to "Log Out", logout_path %>
  </p>
  <% else %>
  <p>
	<%= link_to "Log In", login_path %> <em> | </em>
  <%= link_to "Sign Up?", signup_path %>
  </p>
  <% end %>
   </div>
</div>
	
<div id="mainContainer">
	<div id="mainContent">
	<% flash.each do |k,v| =%>
	<div id="flashContainer">
	  <div class="<%= k %>">
	    <p><%= v %></p>
	  </div>
	</div>
	<% end %>
  <%= yield %>
  </div>
</div>

</body>
</html>
